# requirements.txt
aiofiles
appdirs
fastapi
imutils
Jinja2
netifaces
numpy
pynetworktables
python-multipart
toposort
uvicorn

# requirements_extra.txt
cupy
gpiozero
opencv-python
pystemd
upgraded-engineer
uvloop

# dev-only
black
isort
pytest
requests
