aiofiles==0.4.0
Click==7.0
fastapi==0.49.0
h11==0.9.0
httptools==0.0.13
imutils==0.5.3
Jinja2==2.11.1
MarkupSafe==1.1.1
netifaces==0.10.9
numpy==1.18.1
pydantic==1.4
pynetworktables==2020.0.2
pystemd==0.7.0
python-multipart==0.0.5
six==1.14.0
starlette==0.12.9
toposort==1.5
upgraded-engineer==0.2.1
uvicorn==0.11.2
uvloop==0.14.0
websockets==8.1
