# requirements.txt
aiofiles
fastapi
imutils
Jinja2
netifaces
numpy
pynetworktables
python-multipart
toposort
uvicorn

# requirements_extra.txt
gpiozero
opencv-python
pystemd
upgraded-engineer
uvloop

# dev-only
black
isort
requests
