aiofiles==0.4.0
appdirs==1.4.3
attrs==19.1.0
black==19.3b0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
fastapi==0.33.0
h11==0.8.1
httptools==0.0.13
idna==2.8
isort==4.3.21
mypy==0.720
mypy-extensions==0.4.1
numpy==1.17.2
pydantic==0.30
pynetworktables==2019.0.2
requests==2.22.0
starlette==0.12.0
toml==0.10.0
toposort==1.5
typed-ast==1.4.0
typing-extensions==3.7.4
urllib3==1.25.3
uvicorn==0.8.4
uvloop==0.12.2
websockets==7.0
