aiofiles==0.4.0
Click==7.0
fastapi==0.38.1
h11==0.8.1
httptools==0.0.13
numpy==1.17.2
pydantic==0.32.2
pynetworktables==2019.0.2
starlette==0.12.8
toposort==1.5
uvicorn==0.9.0
uvloop==0.13.0
websockets==8.0.2
