aiofiles==0.4.0
Click==7.0
fastapi==0.54.0
h11==0.9.0
httptools==0.0.11
Jinja2==2.11.1
MarkupSafe==1.1.1
netifaces==0.10.9
numpy==1.16.2
pydantic==1.4
python-multipart==0.0.5
six==1.14.0
starlette==0.13.2
toposort==1.5
uvicorn==0.11.3
websockets==7.0
