{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="scripts/zoom.js" defer></script>
<script type="text/javascript" src="scripts/mikenode.js" defer></script>
<script type="text/javascript" src="scripts/node.js" defer></script>
{% endblock %}

{% block content %}
<canvas id="canvas"></canvas>
<div id="container">
</div>

<div id="menu-container">
</div>

<div id="status-indicator">
    <img id="status-cross" class="status-indicator-icon status-indicator-cross" src="icons/cross.svg" style="display: none">
    <img id="status-spinner" class="status-indicator-icon status-indicator-spinner fa-pulse" src="icons/spinner.svg" style="display: none">
    <img id="status-check" class="status-indicator-icon status-indicator-check" src="icons/check.svg" style="display: none">
</div>
{% endblock %}
