{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="scripts/settings.js" defer></script>
<script type="text/javascript" src="libs/bfi.min.js" defer></script>
{% endblock %}

{% block content %}
<div id="prefs-container">
    <div id="preference">
        <h1>Update</h1>
        <p>
            You can get the latest version of OpenSight
            <a href="https://github.com/opensight-cv/packages/releases">here</a>.
        </p>
        <p>Updating from web-ui only works on Raspbian</p>
        <form id="update-form" enctype="multipart/form-data" method="post" name="update-form">
            <input type="file" class="bfi" required />
        </form>
        <input class="update-button" id="update-button" type="button" value="Update"/>
    </div>
    <div id="preference">
        <h1>Actions</h1>
        <input id="restart" type="button" value="Restart OpenSight"/>
        <input id="shutdown" type="button" value="Shutdown OpenSight"/>
    </div>
    <div id="preference">
        <h1>Profiles</h1>
        <p>Current profile: {{persist.profile}}</p>
        <input id="profile-button" type="button" value="0"/>
        <input id="profile-button" type="button" value="1"/>
        <input id="profile-button" type="button" value="2"/>
        <input id="profile-button" type="button" value="3"/>
        <input id="profile-button" type="button" value="4"/>
        <br>
        <input id="profile-button" type="button" value="5"/>
        <input id="profile-button" type="button" value="6"/>
        <input id="profile-button" type="button" value="7"/>
        <input id="profile-button" type="button" value="8"/>
        <input id="profile-button" type="button" value="9"/>
    </div>
    <div id="preference">
        <h1>Import/Export</h1>
        <form id="import-form" enctype="multipart/form-data" method="post" name="import-form">
            <input type="file" class="bfi" required />
        </form>
        <input id="import-button" type="button" value="Import"/>
        <input id="export-button" type="button" value="Export"/>
    </div>
</div>
{% endblock %}
