/* disable text selection */
* {
  -ms-user-select: none;
  /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
* {
  margin: 0;
  padding: 0px;
}
/* to remove the top and left whitespace */
html {
  height: 100%;
}
.clear {
  clear: both;
}
/* just to be sure these are full screen*/
canvas {
  display: block;
}
/* To remove the scrollbars */
body {
  font-family: "DejaVu Sans", sans-serif;
  background-color: #cccccc;
  color: #474448;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
#container h1 {
  padding: 5px;
  font-size: larger;
  text-align: center;
  margin-left: 2px;
}
h3 {
  font-size: medium;
  margin-bottom: 3px;
}
a {
  color: #551a8b;
  outline: 0;
  border: none;
  color: inherit;
  -moz-outline-style: none;
  outline-style: none;
}

p {
  padding-bottom: 5px;
}



#prefs-table {
  display: block;
}
#prefs-table td {
  display: inline-block;
  vertical-align: top;
  border: none;
}
#preference {
  float: left;
  z-index: 7;
  border: 5px solid #2dbc4e;
  margin: 10px;
  background-color: #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
#preference input {
  display: block;
  margin: 5px auto;
}
#network-form input {
  display: inline;
  max-width: 18%;
}
#preference #profile-button {
  display: inline;
  margin: 0px;
}
#container,
#prefs-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background-image: radial-gradient(#a5a5a5 3%, transparent 3%);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  background-attachment: local;
}
#prefs-container {
  /* width: 96%; */
  text-align: center;
  padding-left: 60px;
  display: inline;
}
#upload-form {
  margin: 10px;
}

#status-content {
  display: none;
  position: fixed;
  width: auto;
  height: auto;
  min-width: 500px;
  min-height: 30px;
  border: 5px solid #7f7f7f;
  border-radius: 10px;
  padding: 10px;
  background-color: #ccc;
  bottom: 20px;
  right: 5%;
  z-index: 60;
}

.status-dropdown:hover .status-indicator-icon {
  position: absolute;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.status-indicator {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 20px;
  bottom: 20px;
  z-index: 10015;

  border-radius: 10px;
  border-color: #454545;
  border-width: 3px;
  border-style: solid;
  background-color: #ccc;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.status-indicator:hover {
  background-color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.status-indicator-icon {
  width: 80%;
  height: 80%;
  margin: 10%;
  display: none;
  overflow: hidden;
}

.status-indicator-greyscale {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);

  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.status-indicator-icon-enter {
  display: block;
  animation: status-indicator-icon-entering .5s cubic-bezier(0.02, 0.99, 0.76, 1.63);
}

@keyframes status-indicator-icon-entering {
  0% { top: -50px; display: block; }
  100% { top: 0px; display: block; }
}

.status-indicator-icon-leave {
  display: block;
  animation: status-indicator-icon-leaving .5s cubic-bezier(0.02, 0.99, 0.76, 1.63);
}

@keyframes status-indicator-icon-leaving {
  0% { top: 0px; display: block; }
  100% { top: 50px; display: none; }
}

/* Default icon */

.status-indicator-spinner {
  display: block;
}

/* Font Awesome */

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* Font Awesome */


input[type="button"] {
  background: linear-gradient(0deg, #e7e5e3 0, #f5f4f3 75%);
}

.strInput {
  /* probably hacky */
  max-width: 130px;
}
input,
button {
  font-family: "DejaVu Sans", sans-serif;
  font-size: 14px;
  padding: 5px 6px;
  color: #444;
  border-radius: 5px;
  border: #cdc7c2;
  border-width: 1px;
  border-style: solid;
}

input[type="button"]:active {
  border-radius: 5px;
  border: #cdc7c2;
  background: rgb(164,163,162);
  background: linear-gradient(180deg, rgba(231,229,227) 0%, rgba(217,217,217,1) 100%); 
  border-width: 1px;
  border-style: solid;
}

/* Better File Input */
/* Warning: many importants */
.bfi-converted ~ .bfi-file {
  margin: unset !important;
  color: #444;
  border: #cdc7c2;
  border-width: 1px;
  border-style: solid;
  background: linear-gradient(0deg, #ddd 0, #eee 75%);
  animation: file_grow 0.25s ease;
  width: 100%;
  min-width: 90%;
  max-width: 90%;
}
.bfi-container {
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 10px;
  min-width: 90%;
  max-width: 90%;
}

.bfi-file .bfi-clear {
  display: block;
  padding-left: 5px;
  float: right;
  margin: unset !important;
  -webkit-transform: none !important;
  transform: none !important;
  top: unset !important;
  bottom: 10%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.node {
  width: auto;
  min-width: 150px;
  height: auto;
  background-color: #cccccc;
  border: 6px solid #7f7f7f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  text-align: center;
  position: absolute;
  padding-bottom: 10px;
}
.slider {
  height: 30px;
}
#button {
  float: right;
}
.x {
  border-radius: 9999px;
  border: 3px solid rgb(188, 45, 45);
  width: 20px;
  height: 20px;
  background-color: #cccccc;
  font-weight: bold;
  color: rgb(188, 45, 45);
  font-size: 29px;
  line-height: 16px;
  position: absolute;
  right: -17px;
  top: -12px;
}
.navItem {
  width: 30px;
  height: 30px;
  z-index: 10006;
  display: block;
  margin-left: 15px;
  padding: 15px 0px;
}
.navContainer:hover {
  background-color: grey;
}
#nav {
  width: 60px;
  height: 100vh;
  z-index: 10005;
  background-color: #aaa;
  display: flex;
  position: fixed;
  flex-direction: column;
}
/* #node2 {
  width: 250px;
  height: auto;
  min-height: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
} */
.clicker {
  user-select: none;
  width: 18px;
  height: 18px;
  background-color: #cccccc;
  border: 4px solid #2dbc4e;
  margin: 3px 0px;
  border-radius: 9999px;
  position: relative;
}
.input {
  cursor: not-allowed;
  right: 19px;
}
.output {
  cursor: crosshair;
  left: 19px;
}
.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: -25px;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  max-height: 20px
}
.ioContainer {
  height: auto;
  position: relative;
}
.outputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  right: -25px;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  direction: rtl;
}
.setting {
  text-align: left;
  margin: 10px 20px 0px;
  display: block;
}
.dropdown {
  margin: 0 auto;
  font-size: 12px;
  padding: 5px;
}
.numInput {
  margin: auto;
  padding: 5px;
  width: 45px;
  height: 20px;
  font-size: 14px;
}
.sliderOut3 {
  margin: auto;
  width: 10px;
  margin-top: 20px;
}
.settingName {
  text-align: center;
}
.itemContainer {
  margin-bottom: 5px;
}
.sliderOut {
  width: 10%;
  float: left;
}
.sliderOut2 {
  width: 10%;
  text-align: right;
  float: right;
}
td {
  border: 1px solid black;
}
.info {
  width: 100%;
}
.info-out {
  float: right;
}
.info-in {
  float: left;
}
.ui-slider {
  height: 4px;
  border: 0px;
  min-width: 150px;
}
.ui-slider-range {
  background: #2dbc4e;
}
.ui-widget.ui-widget-content {
  border: 0px solid #c5c5c5;
  border-radius: 10px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 4px solid #2dbc4e;
  background-color: #cccccc;
  font-weight: normal;
  color: #454545;
  border-radius: 9999px;
  width: 18px;
  height: 18px;
  top: -10px;
  cursor: pointer;
}
.ui-widget-content {
  background: #e1e1e1;
  border-radius: 0px;
}
.arrow{
  margin-right: 2px;
}
#menu-container {
  width: auto;
  position: absolute;
  z-index: 10010;
  background-color: #ccc;
  border: 4px solid #454545;
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
  top: 15px;
  right: 15px;
  min-width: 190px;
}
#menu-container h1 {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}
#menu-container-modules {
  max-height: calc(100vh - 170px);
  overflow-y: auto;

  padding: 20px;
  padding-top: 0px;

  border: 0px solid #666;
  border-top-width: 2px;
}
.menu-division {
  padding: 4px;
}
.menu-name{
  display: inline;
  cursor: pointer;
  padding: 4px;
  white-space: nowrap;
}
.menu-selector {
    position: relative;
}
.menu-selector:after {
    content:'';
    position:absolute;
    top:-10px; bottom:-5px; 
    left:-20px; right:-20px; 
}
.menu-button {
  border: 3px solid #2dbc4e;
  background-color:#ccc;
  border-radius: 10px;
  text-align: center;
  margin: 4px;
  padding: 4px;
  cursor: pointer;
  font-size: 16px;
  min-width: 125px;
  margin-left: 0px;
  margin-right: 0px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slidey {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slidey:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slidey {
  background-color: #2dbc4e;
}
input:focus + .slidey {
  box-shadow: 0 0 1px #2dbc4e;
}
input:checked + .slidey:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slidey.round {
  border-radius: 34px;
}
.slidey.round:before {
  border-radius: 50%;
}
.outputDesc {
    position: relative;
    left: 80%;
    text-align: right;
    pointer-events: none;
}
.inputDesc {
    position: relative;
    right: 80%;
    text-align: left;
    pointer-events: none;
}

