name: Python Style Check

on:
  pull_request:
    branches: [dev, master]
  push:
    branches: [dev]

jobs:
  check_style:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install formatters
        run: |
          python -m pip install --upgrade pip
          pip install autoflake black isort
      - name: Run black
        run: |
          black --version
          black --check .
      - name: Run isort
        run: |
          isort --version-number
          isort --check-only --quiet
      - name: Run autoflake
        run: |
          autoflake --version
          autoflake --ignore-init-module-imports --remove-all-unused-imports -rc .
